body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-variant: small-caps;
  }
  form{
      padding: 5px;
  }
  span{
    color: #fff;
    display: block;
    margin: 2px;
    float:left;
  }
  input, textarea, select{
    width: 17rem;
    padding: 1px;
    font-size: 110%;
  }
  table{
    border-spacing: 0;
  }
  td{
    vertical-align: top;
  }
  #menu{
    width: 17rem;
    background-color: #234;
  }
  .chk{
    margin-top:5px;
    width: 16px;
    display: inline;
  }
  .button{
    margin: 2px;
    font-variant: small-caps;
  }